.personal__name,
.personal__adress {
    width: 40%;
}

.personal-header {
    background-color: transparent;
    font-weight: bold;
}

.block__sub-element.sorted:after {
    content: "";
    margin-left: 4px;
    display: inline;
}

.block__sub-element.sorted.ascending:after {
    content: "↑";
}

.block__sub-element.sorted.descending:after {
    content: "↓";
}

.personal__employee_group1 {
    background-color: rgb(67, 172, 221);
}

.personal__employee_group2 {
    background-color: rgb(80, 255, 240);
}

.personal__employee_geodesist {
    font-weight: bold;
}

.personal__employee_assistant {
    font-style: italic;
}
