.close-btn{
    border: 1px solid #000;
    width: 1em;
    height: 1em;
    position: relative;
}

.close-btn::before, .close-btn::after{
    content: "";
    width: 0.1em;
    height: 1em;
    background-color: black;
    position: absolute;
    transform: rotateZ(45deg);
    left: 0.45em
}

.close-btn::after{
    transform: rotateZ(-45deg);
}